
    <div class="container">
    

        <div class="main">            

            <div class="sidenav">

                <div class="side-info">

                <div class="prof-img">
                    <img src="assets/prof.png" alt="Profile-icon" height="100%" width="100%">
                </div>
                
                <div class="prof-info">
                    AMOL BHOSALE<br>
                    <input class="btn" type="button" name="" value="Profile" >
                </div>
            </div>

                <div class="side-menu">
                        <i class="material-icons">
                                group_work
                                </i>
                        <label class="a">Dashboard</label>        

                </div>
                <div class=side-menu>
                        <i class="material-icons">
                                dashboard
                                </i>
                        <label class="a">Classified</label>        

                </div>
               
            </div>
            <div style="width: 3%!important;background-color: white;"></div>


            <div class="right-main">

                <div class="heading">
                    <h2>Create Product</h2>
                   
                </div>
                <hr>

                <div class="main-content">

                    <div class="info">
                        <label>Name<span>*</span></label><br>
                        <div class="b">
                        <input type="text" alt="name" value="" placeholder="Name" class="d">
                        </div>
                    </div>

                    <div class="info1">
                            <label>Caption<span>*</span></label><br>
                            <div class="b">
                            <input type="text" alt="name" value="" placeholder="Caption" class="d">
                        </div>
                    </div>

                        <div class="info2">
                                <label>Status<span>*</span></label>  <br>
                                <div class="c" >
                               <input type="radio" name="status" value="Active"> Active
                                <input type="radio" name="status" value="Inactive"> Inactive
                                <input type="radio" name="status" value="Sold"> Sold
                                <input type="radio" name="status" value="Archieved"> Archieved
                                </div>

                        </div>
                </div>

                <div class="main-content">

                        <div class="info">
                            <label>Location<span>*</span></label><br>
                            <div class="b">
                            <input type="text" alt="name" value="" placeholder="Location " class="d">
                            </div>
                        </div>
    
                        <div class="info1">
                                <label>Condition</label><br>
                                <div class="b">
                                <input type="text" alt="name" value="" placeholder="Condition" class="d">
                            </div>
                        </div>
    
                            <div class="info2">
                                    <label>Slug</label><br>
                                    <div class="b">
                                    <input type="text" alt="name" value="" placeholder="Slug" class="d">
                                    <div class="err">Slug will be filled automatically if left blank</div>
                                </div>
                            
    
                                </div>
                    </div>

                    <div class="main-content">

                            <div class="info">
                                <label>Categories<span>*</span></label><br>
                                <div class="b">
                                <input type="text" alt="name" value="" placeholder="select Categories" class="d">
                                </div>
                            </div>
        
                            <div class="info1">
                                    <label>Price</label><br>
                                    <div class="b">
                                    <input type="text" alt="name" value="" placeholder="price" class="d">
                                </div>
                            </div>
        
                                <div class="info2">
                                        <label>Tags</label><br>
                            <div class="b">
                            <input type="text" alt="name" value="" placeholder="select tags..." class="d">
                        </div>
        
                                </div>
                        </div>


                        <div class="main-content">

                                <div class="info">
                                   
                                </div>
            
                                <div class="info1">
                                        <input type="checkbox" name="" value=""> Price on call<br> 
                                    <div class="err">If Price on call checked no need to fill price</div>

                                </div>
            
                                    <div class="info2">
                                            <label>Brand</label><br>
                                            <div class="b">
                                            <input type="text" alt="name" value="" placeholder="brand" class="d">
                                        </div>
                                    
            
                                        </div>
                            </div>
        





            </div>
        </div>
    </div>    